@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    /* font-family: "Roboto Condensed", sans-serif; */
}

.heading-navbar {
    width: 100%;
    height: 50px;
    background-color: #F5F5F6;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    font-size: 11px;
    color: #959BA4;
    font-weight: normal;
}

span {
    color: black;
}

img {
    margin-right: 64px;
    margin-left: 100px;
}

.login {
    margin-left: 109px;
    margin-right: 102px;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 8px 16px;
    font-size: 11px;
    border: none;
}

main {
    margin: auto;
    margin-top: 56px;
    height: 246px;
    width: 50%;

}

.heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 33px;
}

.converter-wrapper {
    margin-top: 33px;
    display: flex;
    gap: 123px;
}

.from {
    display: flex;
    flex-direction: column;
}


.text {
    color: #9F9F9F;
    font-size: 12px;
    margin-bottom: 8px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    overflow: hidden;
    flex-wrap: wrap;

}

.btn {
    border: 1px solid #E5E5E5;
    color: #E5E5E5;
    padding: 8px 16px;
    background-color: white;
}

.input-info {
    display: grid;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;

}


.inputext {
    border-style: none;
    font-size: 36px;
    font-weight: bold;
    overflow: auto;
    width: 100%;
}

.currency-info {
    font-size: 12px;
    color: #C6C6C6;
}


.active {
    background-color: #833AE0;
    color: white;
    border: 1px solid #833AE0;
}

.buttons:first-child {
    border-radius: 3px 0 0 3px;
}

.buttons:last-child {
    border-radius: 0 3px 3px 0;
}


.heading-navbar {
    /* justify-content: space-between; */
    padding: 0 20px;
}

/* 
img {
    margin: 0;
} */

.navbar-list {
    flex: 1;
    display: flex;
    justify-content: center;

}

/* .login {
    margin: 0;
} */

@media (max-width: 1200px) {
    img {
        margin-left: 40px;
        margin-right: 40px;
    }

    .login {
        margin-left: auto;
        margin-right: 20px;
    }

    main {
        width: 70%;
    }

    .converter-wrapper {
        gap: 60px;
    }
}



@media (max-width: 992px) {
    .heading-navbar {
        padding: 0 10px;
    }

    img {
        margin-left: 10px;
        margin-right: 20px;
    }

    .navbar-list {
        gap: 10px;
    }

    main {
        width: 80%;
    }

    .converter-wrapper {
        gap: 40px;
    }
}



@media (max-width: 768px) {
    .navbar-list {
        display: none;
    }

    .login {
        margin-left: auto;
        margin-right: 10px;
    }

    main {
        width: 90%;
    }

    .converter-wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .inputext {
        font-size: 28px;
    }
}



.btn {
    cursor: pointer;
}

input {
    outline: none;
}

.nowifi {
    position: fixed;
    bottom: 0;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #b882ff;
    color: white;
}

.checkwifi {
    display: none;
}


@media (max-width: 576px) {
    .heading {
        font-size: 28px;
        text-align: center;
    }

    main {
        width: 95%;
    }

    .buttons .btn {
        padding: 6px 10px;
        font-size: 12px;
    }

    .inputext {
        font-size: 24px;
    }
}